/* regole comuni */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}
/* fine regole comuni */


/* regole menu */
.menu {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.menu ul {
    position: absolute;
    top: 40px;
    right: 20px;
}

.menu ul li {
    list-style-type: none;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    padding: 12px 15px;
    /* ----- sposta il padding nel link a ------ */
    margin-left: 20px;
    box-shadow: 0px 5px 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #000;
}
/* fine regole menu */


/* regole main */
.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.container .shoes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .shoes .shoes-txt {
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bolder;
}

.container.red {
    background-color: #f00;
}

.container.green {
    background-color: rgb(5, 134, 5);
}

.container.yellow {
    background-color: #ff0;
}

.container .shoes .shoes-txt.yellow {
    color: #ff0;
}

.container .shoes .shoes-txt.green {
    color: rgb(5, 134, 5);
}
/* fine regole main */